.header{
    height: 80px;
    background-color: khaki;

}
.work{

    height: auto;
    background-color: #101010;


    font-size: 48px;
    font-family: sans-serif;
    color: white;
    flex-wrap: wrap;
    padding-bottom: 25px;
}
.btn{
    height: 40px;
    border-radius: 4px;
    font-size: 20px;
    padding: 0 25px;
}
.p{
    font-size: 25px;
}
.container{
    display: flex;
    width: 80%;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    margin: 0 auto;
}