.nav{
    width: 360px;
    display: flex;
    justify-content: space-evenly;
    font-size: 15px;
    font-weight: bold;
    font-family: sans-serif;
}

.nav a {
    color: white;
    text-decoration: none;

}
.nav a:hover{
    outline: double white;
}